<div class="topbar">
  <div class="tb-item tb-sel">
    <img src="~/icons/target.svg" width="18" height="18" alt="">
    <span>San Francisco, California</span>
    <img src="~/icons/chevron-down.svg" width="14" height="14" alt="">
  </div>

  <div class="tb-item tb-sel">
    <img src="~/icons/bag.svg" width="18" height="18" alt="">
    <span>Pick up</span>
    <img src="~/icons/chevron-down.svg" width="14" height="14" alt="">
  </div>

  <div class="tb-item tb-sel">
    <img src="~/icons/percent.svg" width="18" height="18" alt="">
    <span>Best deals</span>
    <img src="~/icons/chevron-down.svg" width="14" height="14" alt="">
  </div>

  <label class="search">
    <img src="~/icons/search.svg" width="18" height="18" alt="">
    <input placeholder="Search for anything…" />
  </label>

  <button class="icon-btn icon-purple" title="Filters">
    <img src="~/icons/sliders.svg" width="18" height="18" alt="">
  </button>
  <button class="icon-btn icon-orange" title="Cart">
    <img src="~/icons/cart.svg" width="18" height="18" alt="">
  </button>
</div>
